
.white{
    color: white;
}
.crem{
    background-color: whitesmoke;
}
.grn{
    background-color: green;
    padding: 3px;
    border: none;
    font-size: small;
    color: white;
    border-radius: 5px;
}


.cck{
    accent-color: rgb(40, 136, 42);
}
.red{
    background-color: red;
    padding: 3px;
    border: none;
    font-size: small;
    color: white;
    border-radius: 5px;
}
.containerflex{
    display: flex;
}
.pdmd{
    padding: 10px;
    margin: 10px ;
}
.flexitem{
    margin: 10px;
}
#pagination1{
justify-content: center;
display: flex;
}


ul li{
    list-style: none;
}
.f2{
    width: 919.65px;
}
#nnn{
    padding-left: 12px;
    margin-top: 10px;
}
.profile{
    display: flex;
    color: azure;
}
.grow{
    flex-grow: 1;
    color: azure;
    
}
#prf {

    padding-right: 20px;
   
}
img {
    border-radius: 12.5px;
}
.newdoc{
    display: flex;
}
.grow1{
    flex-grow: 1;
}
.fnewdoc button{
    border-radius: 8px;
    background-color: green;
    border: none;
    color: white;
}